@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161616;
}
body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(red,yellow);
    clip-path: circle(22% at 30% 20%);
    z-index: -1;
}

body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(green,yellow);
    clip-path: circle(15% at 70% 80%);
    z-index: -1;
}
button.clear {
    background: #fa4a1e;
    color: white;
}
.container 
{   margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
    background: #030303;
}

.content 
{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button.equal {
    width: 95%;
    background: #70c520;
}

.row button:hover 
{
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1),
                 inset -5px -5px 8px #fff;
    background: #fff;
}

button {
    padding: 10px 10px;
    width: 100px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    background: #2c2c2c;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
}

#eval 
{
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
                inset -5px -5px 8px #00ace6;
}

#eval:hover 
{
    box-shadow: inset 5px 5px 8px #00ace6,
                inset -5px -5px 8px #00ace6;
}

#ac 
{
    background: #33cc33;
    color: #fff;
}
button:hover{
	background: #1b1b1b;
    box-shadow: 0px 0px 20px #000000;
}

.lastOp{
    height: 50px;
}

.curOp{
    height: 50px;
}
