@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161616;
}
body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(red,yellow);
    clip-path: circle(22% at 30% 20%);
    z-index: -1;
}

body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(green,yellow);
    clip-path: circle(15% at 70% 80%);
    z-index: -1;
}
button.clear {
    background: #fa4a1e;
    color: white;
}
button.clear:hover {
    background: #1f1f1f;
}
table {
    margin-left:auto;
    margin-right:auto;
    background: #161616;
    padding: 5px;
    border: 6px solid #161616;
    text-align: center;
    padding-bottom: 0px;
    box-shadow: 0px 0px 27px black;
    border-radius: 10px;
    margin-top: 90px;
}
button.equal {
    width: 80px;
    background: #70c520;
}
button.equal:hover{
	background: #1f1f1f;
}

button {
    padding: 10px 10px;
    width: 80px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 26px;
    font-weight: bold;
    background: #2c2c2c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.4s;
}
button:hover{
	background: #1b1b1b;
    box-shadow: 0px 0px 20px #000000;
}

.lastOp{
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

.curOp{
    height: 50px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}